.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Pytest / cobertura
.pytest_cache/
.coverage
htmlcov/

# Editores
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db
docs/

# ipynb checkpoints
.ipynb_checkpoints/